DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# رابط اتصال PostgreSQL/YSQL (مثال: YugabyteDB Managed)
DATABASE_URL=postgresql://user:password@host:5433/dbname?sslmode=verify-full
# مسار ملف شهادة الجذر (root.crt) إن كان sslmode=verify-full أو verify-ca
DB_SSL_CA_PATH=../certs/root.crt

# اختياري: إذا حددته سيتم تسجيل الأوامر فوراً على هذا السيرفر فقط (مفيد أثناء التطوير)
DEV_GUILD_ID=
DASHBOARD_URL=http://localhost:3000
